body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(43, 46, 49);
  color: white;
  text-align: center;
}

.navBar {
  color: white;
  margin: 10px;
  font-size: 20px;
}

.app {
  font-size: 20px;
}

/* on-hover effect for homepage images */

.homePageWhale {
  transition: transform .5s ease;
}

.homePageWhale:hover {
  transform: scale(1.1);
}

.homePageLemon {
  transition: transform .5s ease;
}

.homePageLemon:hover {
  transform: scale(1.1);
}

.homePageDragonfly {
  transition: transform .5s ease;
}

.homePageDragonfly:hover {
  transform: scale(1.1);
}

.homePagePalm {
  transition: transform .5s ease;
}

.homePagePalm:hover {
  transform: scale(1.1);
}

.homePageTurtle {
  transition: transform .5s ease;
}

.homePageTurtle:hover {
  transform: scale(1.1);
}

.homePageEarth {
  transition: transform .5s ease;
}

.homePageEarth:hover {
  transform: scale(1.1);
}

.homePagePizza {
  transition: transform .5s ease;
}

.homePagePizza:hover {
  transform: scale(1.1);
}