body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(43, 46, 49);
  color: white;
  text-align: center;
}

.navBar {
  color: white;
  margin: 10px;
  font-size: 20px;
}

.app {
  font-size: 20px;
}

/* on-hover effect for homepage images */

.homePageWhale {
  transition: transform .5s ease;
  width: '100%';
  height: '100%'
}

.homePageWhale:hover {
  transform: scale(1.1);
  width: '80%';
  height: '80%'
}

.homePageHandCrafted {
  transition: transform .5s ease;
}

.homePageHandCrafted:hover {
  transform: scale(1.2);
}

.homePageGuaranteedFresh {
  transition: transform .5s ease;
}

.homePageGuaranteedFresh:hover {
  transform: scale(1.2);
}

.homePageOutOfThisWord {
  transition: transform .5s ease;
}

.homePageOutOfThisWord:hover {
  transform: scale(1.2);
}